/* Estilos para el componente Login */
.login-container {
  margin-top: 40px;
}

.login-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-card h2 {
  color: #08661c;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid#08661c;
  padding-bottom: 0.5rem;
}

.form-label {
  font-weight: 500;
}

.btn-primary {
  background-color:#08661c;
  border-color: #08661c;
  padding: 10px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #16c94b;
  border-color: #16c94b;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-primary:disabled {
  background-color: #59ec60;
  border-color: #59ec60;
}

a {
  color: #0a7c51;
  text-decoration: none;
}

a:hover {
  color:#16c94b;
  text-decoration: underline;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .login-card {
    padding: 20px;
  }
}
